.header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
}

.btn {
  height: 70px;
  width: 115px;
  line-height: 70px;
  text-align: center;
}

.btn-oauth {
  background-color: #34a946;
  width: 160px;
}

.btn-logout {
  background-color: #686c73;
}

.btn-assets {
  background-color: #919191;
  width: 115px;
}

.btn > a {
  color: white;
  font-size: 0.9em;
  font-weight: 600;
}
